.well {
  height: 300px;
  margin-bottom: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.jumbotron {
  height: 500px;
  margin-bottom: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
}

header {
  margin-top: 5%;
}

body {
  margin-top: 2%;
}

.top-react-icons{
  font-size: 5rem;
}